<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>숨겨진 직박구리</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" sizes="192x192" href="hiddenbebb.JPG">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class = "container">
        <header class ="intro">
            <div id="header_line">
            </div>
            <div id="nav">
                <nav class="top_nav">
                    <h1>
                        숨겨진 직박구리
                    </h1>
                    <ul>
                        <li><a href ="home">home</a></li>
                        <li><a href ="profile">profile</a></li>
                        <li><a href = "project">project</a></li>
                        <li><a href = "blog">blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    
    <main>
        <article>
            <section>            </section>
            <section>           </section>
            <section>           </section>
            <section>           </section>
        </article>
    </main>

    <footer>
        
    </footer>
</body>


</html>