<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>숨겨진 직박구리</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" sizes="192x192" href="img/hiddenbebb.JPG">
  <link rel ="stylesheet" href ="css/header.css">
  <link rel = "stylesheet" href = "css/blog.css">

</head>

<body>
    <header class ="top_line">
        <div id="header_line">
        </div>
        <div id="nav">
            <nav class="top_nav">
                <h1>
                    숨겨진 직박구리
                </h1>
                <ul>
                    <li><a href ="home">home</a></li>
                    <li><a href ="profile">profile</a></li>
                    <li><a href = "project">project</a></li>
                    <li><a href = "blog">blog</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class = "blog_container">
        <div class="side_nav">
            <nav>
                <ul>
                    <li><a href = "#front">FRONTEND</a></li>
                    <li><a href = "#ard">ARDUINO</a></li>
                    <li><a href = "#rspi">RASBARIPI</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <div class="setting">
                <a href="/fix">수정</a>
            </div>
            <article>
                <div>
                    <section id="front">
                        <h1>FRONTEND</h1>                        <nav>
                            <ul>
                                <li><h2>HTML</h2></li>
                                <li><h2>CSS</h2></li>
                                <li><h2>JavaScripts</h2></li>
                            </ul>
                        </nav>
                            <div class = "h2">
                                <h2>HTML</h2>
                                <article>
                                <h3>
                                    head, body, foooter
                                </h3>
                                <br>
                                <a>
                                    html의 가장 큰 뼈대와 같은 역활을 보여주는 코드이다.
                                </a>
                                <br><br><br><br>
                                </article>
                            </div>
                            <div class = "h2">
                                <h2>CSS</h2>
                                <article>
                                <h3>
                                    head, body, foooter
                                </h3>
                                <br>
                                <a>
                                    html의 가장 큰 뼈대와 같은 역활을 보여주는 코드이다.
                                </a>
                                <br><br><br><br>
                                </article>
                            </div>
                            <div class = "h2">
                                <h2>JavaScripts</h2>
                                <article>
                                <h3>
                                    head, body, foooter
                                </h3>
                                <br>
                                <a>
                                    html의 가장 큰 뼈대와 같은 역활을 보여주는 코드이다.
                                </a>
                                <br><br><br><br>
                                </article>
                            </div>
                    </section>

                    <section id="ard">
                        <h1>Arduino</h1>
                        <br>
                        <h2>mainbord</h2>
                        <br>
                        <article>
                            <h3>
                                UNO
                            </h3>
                            <br>
                            <a>
                                html의 가장 큰 뼈대와 같은 역활을 보여주는 코드이다.
                            </a>
                        </article>                    
                        <br>
                    </section>

                    <section id="rspi">
                        <h1>RASBARIPI</h1>
                        <br>
                        <h2>mainbord</h2>
                        <br>
                        <article>
                            <h3>
                                UNO
                            </h3>
                            <br>
                            <a>
                                html의 가장 큰 뼈대와 같은 역활을 보여주는 코드이다.
                            </a>
                        </article>                    
                        <br>
                    </section>
                </div>
            </article>
        </main>
    </div>

    <footer>
        
    </footer>
    <script src ="js/stblog.js"></script>
</body>


</html>